<nav class="navbar">
    <div class="logo flex">
        <img src="assets/images/logo.png" style="width: 40px;height: 40px;" alt="Logo da empresa">
        <li class="white navbar-links"  style="position: relative;
        top: 5px;"><a href="#" >Consultório Médico</a></li>
    </div>
    <div class="navbar-links">
        <ul>
            <!-- <li><a href="#">Página Inicial</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Logar</a></li> -->
        </ul>
    </div>
    <!-- <div class="navbar-button">
        <a href="#" class="btn">Botão</a>
    </div> -->
</nav>

