


<ng-container *ngIf="nomeEntidade == 'Agendamentos'">
  <div class="card mt-2">
    <div style="display: flex; gap: 1rem;">
      <h3 style="position: relative; bottom: 7px;">Data Inicial:</h3>
      <p-calendar [(ngModel)]="dataInicial" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>

      <h3 style="position: relative; bottom: 7px;">Data Final:</h3>

      <p-calendar [(ngModel)]="dataFinal" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>

      <p-button (click)="aplicarFiltro()">Filtrar</p-button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="nomeEntidade == 'Médicos' || nomeEntidade == 'Recepcionistas' || nomeEntidade == 'Pacientes'">
  <div class="card mt-2">
    <div style="display: flex; gap: 1rem;">
      <h3 style="position: relative; bottom: 7px;">Nome:</h3>
      <input pInputText type="text" [(ngModel)]="nomeFiltro" >

      <p-button (click)="aplicarFiltro()">Filtrar</p-button>
    </div>
  </div>
</ng-container>

<div class="flex flex-row justify-between align-center">
  <h1>{{nomeEntidade}}</h1>
  <p-button *ngIf="nomeEntidade !='Consultas' && nomeEntidade != 'Acessar Consulta'" label="Cadastrar" styleClass="p-button-success" (onClick)="openModal()"></p-button>
</div>

<ng-container *ngIf="nomeEntidade == 'Acessar Consulta'">
  <div class="card mt-2 " style="margin-bottom: 1rem;">
    <div style="display: flex; gap: 1rem;">
      <h3 style="position: relative; bottom: 7px;">Código:</h3>
      <input [(ngModel)]="codigoFilter" pInputText type="text">
      <h3 style="position: relative; bottom: 7px;">Senha:</h3>

      <input [(ngModel)]="senhaFilter" pInputText type="text">

      <p-button (click)="pesquisarConsulta()">Pesquisar</p-button>
    </div>
  </div>
</ng-container>

<p-table [columns]="cols" [value]="results" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngIf="nomeEntidade == 'Consultas'">
          <th>Inicio </th>
          <th>Fim </th>
          <th>Medico </th>
          <th>Paciente </th>
          
        </ng-container>

        <ng-container *ngFor="let col of columns" >
          <th *ngIf="col.isShow">{{ col.header }}</th>
        </ng-container>

        <th *ngIf="nomeEntidade != 'Acessar Consulta'">Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngIf="nomeEntidade == 'Consultas' || nomeEntidade == 'Acessar Consultas' ">
          <td>{{rowData.agendamento.data_hora_inicio | date:'dd/MM/yyyy HH:mm'}} </td>
          <td>{{rowData.agendamento.data_hora_fim | date:'dd/MM/yyyy HH:mm'}} </td>
          <td>{{rowData.agendamento.medico.nome_completo}} </td>
          <td>{{rowData.agendamento.paciente.nome_completo}} </td>
          
        </ng-container>

        <ng-container *ngIf="nomeEntidade == 'Acessar Consulta' || nomeEntidade == 'Acessar Consultas' ">
          <td>{{rowData.agendamento.data_hora_inicio | date:'dd/MM/yyyy HH:mm'}} </td>
          <td>{{rowData.agendamento.data_hora_fim | date:'dd/MM/yyyy HH:mm'}} </td>
          <td>{{rowData.agendamento.recepcionista.nome_completo}} </td>
          <td>{{rowData.agendamento.medico.nome_completo}} </td>
          <td>{{rowData.agendamento.paciente.nome_completo}} </td>
          <td>{{rowData.sintomas}} </td>
          <td>{{rowData.diagnostico}} </td>
          <td>{{rowData.observacoes}} </td>
          <td>{{rowData.status_consulta}} </td>
          <td>{{rowData.agendamento.valor_consulta}}</td>
          
        </ng-container>
        
        <ng-container *ngFor="let col of columns">
          <td *ngIf="col.isShow && col.type === 'date'"> {{ rowData[col.field] | date:'dd/MM/yyyy HH:mm' }}</td>

          <td *ngIf="col.isShow && nomeEntidade != 'Acessar Consulta' && col.type !== 'date' && col.type !== 'medico'
          && col.type !== 'recepcionista' && col.type !== 'paciente'"> {{ rowData[col.field] }}</td>

          <td *ngIf="col.isShow && nomeEntidade != 'Acessar Consulta' && (col.type == 'medico' || col.type == 'recepcionista' || col.type == 'paciente' )">{{rowData[col.type].nome_completo}}</td>
        </ng-container>

        <td *ngIf="nomeEntidade != 'Acessar Consulta'">
          <p-button label="Editar" class="mr-1" styleClass="p-button-warning" (onClick)="editarEntidade(rowData)"></p-button>
          <p-button label="Excluir" styleClass="p-button-danger" (onClick)="showConfirmationToDelete(rowData)"></p-button>
        </td>
      </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [header]="'Cadastrar ' + nomeEntidade" [(visible)]="openDialog" [responsive]="true"
  [style]="{ 'width': '50vw', 'height': '60hw' }">
  <ng-container *ngIf="openDialog">
    <create-generic [nomeEntidade]="nomeEntidade" [atributos]="cols" [idEntidade]="idEntidade" [rota]="rota" (formularioEnviado)="processarFormulario($event)">
    </create-generic>
  </ng-container>
</p-dialog>

